html {
    font-size: 62.5%;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2rem;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color:#164863;
    
}

#homemain {
    width: 300px;
    height: 400px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 1rem;
}

.box {
    display: flex;
    background-color: #DDF2FD;
    color: #1e62a5;;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

#home1 {
    font-size: 5rem;
    font-weight:800;
    grid-area: 1 / 2 / 2 / 3;
}

#home1:hover {
     grid-area: 1 / 1 / 2 / 4;
    font-size: 3rem;
    font-weight:800;
}

#home1:hover span {    
    display: none;
}

#home1:hover::before {
    content: "Profile";  
}

#home2 {
    font-size: 5rem;
    font-weight:800;
    grid-area: 2 / 2 / 3 / 3;
}

#home2:hover {
    grid-area: 2 / 1 / 3 / 4;
    font-size: 4rem;
    font-weight:800;   
}

#home2:hover span {    
    display: none;
}

#home2:hover::before {
    content: "Experience"; 
}

#home3 {
    font-size: 5rem;
    font-weight:800;
    grid-area: 3 / 2 / 4 / 3;
}

#home3:hover {
    grid-area: 3 / 1 / 4 / 4;
    font-size: 5rem;
    font-weight:800;
}

#home3:hover span {    
    display: none;
}

#home3:hover::before {
    content: "Portfolio"; 
}
#home4 {
    font-size: 5rem;
    font-weight:800;
    grid-area: 4 / 1 / 5 / 4;
}

#home4:hover span {    
    display: none;
}

#home4:hover::before {
    content: "Contact"; 
}


footer {
    width: 90%;
    text-align: center;
}

@media screen and (min-width:768px) {
    header {
    width: 90%;
    display: flex;
    flex-direction: row;;
    justify-content: end;
    margin-top: 5rem;
}

.navbaritem {
    margin-left: 3rem;
    text-decoration: none;
    color: white;
} 

#homemain {
    width: 700px;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 1rem;
}

#home1 {
    font-size: 13rem;
    font-weight:800;
    grid-area: 2 / 2 / 4 / 4;
}

#home1:hover {
     grid-area: 1 / 1 / 4 / 4;
    font-size: 4rem;
    font-weight:800;
}

#home1:hover span {    
    display: none;
}

#home1:hover::before {
    content: "Profile";  
}

#home2 {
    font-size: 10rem;
    font-weight:800;
    grid-area: 4 / 2 / 6 / 4;
}

#home2:hover {
    grid-area: 4 / 1 / 7 / 4;
    font-size: 4rem;
    font-weight:800;   
}

#home2:hover span {    
    display: none;
}

#home2:hover::before {
    content: "Experience"; 
}

#home3 {
    font-size: 20rem;
    font-weight:800;
    grid-area: 2 / 4 / 5 / 7;
}

#home3:hover {
    grid-area: 1 / 4 / 5 / 8;
    font-size: 5rem;
    font-weight:800;
}

#home3:hover span {    
    display: none;
}

#home3:hover::before {
    content: "Portfolio"; 
}

#home4 {
    grid-area: 5 / 4 / 6 / 7;
    font-size: 4rem;
    font-weight:800;
}

#home4:hover {
    grid-area: 5 / 4 / 7 / 8;
    font-size: 4rem;
    font-weight:800;
}

#home4:hover span {    
    display: none;
}

#home4:hover::before {
    content: "Contact"; 
}

#contactmain {
    width: 500px;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 1rem;
}

.contactbox {
    display: flex;
    width: 70px;
    height: 70px;
    background-color: white;
    color: #1e62a5;;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 15%;
}

#contact1 {
    background-color: white;
    grid-area: 1 / 3 / 2 / 4;
}

#contact2 {
    background-color: white;
    grid-area: 2 / 3 / 3/ 4;
}

#contact3 {
    background-color: white;
    grid-area: 3 / 3 / 4 / 4;
    
}

#contact4 {
    background-color: white;
    grid-area: 4 / 3 / 5 / 4;
}

#contact5 {
    background-color: white;
    grid-area: 5 / 3 / 6 / 4;
}
}

